@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.21 0.006 285.885);
}

.dark {
  --background: oklch(0.21 0.006 285.885);
  --foreground: oklch(0.985 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  html,
  body {
    @apply h-full w-full;
  }

  body {
    @apply bg-background text-foreground;
  }
}
