---
import '../styles/global.css'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      import.meta.env.PROD ? (
        <script is:inline src="/scripts/theme.min.js" />
      ) : (
        <script is:inline src="/scripts/theme.js" />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
