---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    {
      import.meta.env.PROD ? (
        <script is:inline src="/scripts/theme.min.js" />
      ) : (
        <script is:inline src="/scripts/theme.js" />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
